torch==2.5.1
typer==0.15.1
fastapi==0.115.6
uvicorn==0.34.0
numpy==2.2.1
coverage==7.6.10
pytest==8.3.4
lightning==2.5.0
lightning[extra]==2.5.0
torchvision==0.20.1
seaborn==0.13.2
python-multipart==0.0.20
ruff==0.9.0