# commands
invoke==2.2.0

# pre-commit
pre-commit==3.5.0

# testing
pytest==8.3.4
coverage==7.6.9

# linting
ruff==0.9.0

# docs
mkdocs==1.6.1
mkdocs-material==9.5.49
mkdocstrings-python==1.13.0

# versioning
dvc==3.59.0
dvc[gdrive]==3.58.0

# cli tools
typer==0.15.1
jsonargparse[signatures]==4.35.0